.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
  background-image: url(../images/resized.jpg);
  padding-bottom: 400px;
  background-size: cover;
}
